# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [4]:
#import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - The `stats` Submodule

This submodule contains statistical functions for conducting hypothesis tests, producing various distributions and other useful tools. Let's examine this submodule using the KickStarter dataset. Load the data using Ironhack's database (db: kickstarter, table: projects).

In [5]:
# Your code here:
data= pd.read_csv('c:/Users/denis/Desktop/Ironhack/ironhackLabs/module-2/Intro-Scipy/ks-projects-201801.csv')

Now print the `head` function to examine the dataset.

In [6]:
# Your code here:

data.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

Import the `mode` function from `scipy.stats` and find the mode of the `country` and `currency` column.

In [8]:
# Your code here:
from scipy import stats
print(stats.mode(data['country']))
print(stats.mode(data['currency']))

ModeResult(mode=array(['US'], dtype=object), count=array([292627]))
ModeResult(mode=array(['USD'], dtype=object), count=array([295365]))

The trimmed mean is a function that computes the mean of the data with observations removed. The most common way to compute a trimmed mean is by specifying a percentage and then removing elements from both ends. However, we can also specify a threshold on both ends. The goal of this function is to create a more robust method of computing the mean that is less influenced by outliers. SciPy contains a function called `tmean` for computing the trimmed mean. 

In the cell below, import the `tmean` function and then find the 75th percentile of the `goal` column. Compute the trimmed mean between 0 and the 75th percentile of the column. Read more about the `tmean` function [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.tmean.html#scipy.stats.tmean).

In [18]:
# Your code here:
# m = stats.trim_mean(data['goal']), 0.125)

from scipy import mean
m = stats.trim1(data['goal'], 0.25)
mean(m)

4851.937450351413

#### SciPy contains various statistical tests. One of the tests is Fisher's exact test. This test is used for contingency tables. 

The test originates from the "Lady Tasting Tea" experiment. In 1935, Fisher published the results of the experiment in his book. The experiment was based on a claim by Muriel Bristol that she can taste whether tea or milk was first poured into the cup. Fisher devised this test to disprove her claim. The null hypothesis is that the treatments do not affect outcomes, while the alternative hypothesis is that the treatment does affect outcome. To read more about Fisher's exact test, see:

* [Wikipedia's explanation](http://b.link/test61)
* [A cool deep explanation](http://b.link/handbook47)
* [An explanation with some important Fisher's considerations](http://b.link/significance76)

Let's perform Fisher's exact test on our KickStarter data. We intend to test the hypothesis that the choice of currency has an impact on meeting the pledge goal. We'll start by creating two derived columns in our dataframe. The first will contain 1 if the amount of money in `usd_pledged_real` is greater than the amount of money in `usd_goal_real`. We can compute this by using the `np.where` function. If the amount in one column is greater than the other, enter a value of 1, otherwise enter a value of zero. Add this column to the dataframe and name it `goal_met`.

In [21]:
# Your code here:

data['goal_met'] = np.where(data['usd_pledged_real']>data['usd_goal_real'], 1, 0)

In [24]:
data.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,goal_met,usd
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95,0,0
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00,0,1
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00,0,1
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00,0,1
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00,0,1

Next, create a column that checks whether the currency of the project is in US Dollars. Create a column called `usd` using the `np.where` function where if the currency is US Dollars, assign a value of 1 to the row and 0 otherwise.

In [23]:
# Your code here:

data['usd'] = np.where(data['currency']=='USD', 1, 0)

Now create a contingency table using the `pd.crosstab` function in the cell below to compare the `goal_met` and `usd` columns.

Import the `fisher_exact` function from `scipy.stats` and conduct the hypothesis test on the contingency table that you have generated above. You can read more about the `fisher_exact` function [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.fisher_exact.html#scipy.stats.fisher_exact). The output of the function should be the odds ratio and the p-value. The p-value will provide you with the outcome of the test.

In [26]:
# Your code here:

contingency = pd.crosstab(data['usd'], data['goal_met'])

In [28]:
import scipy.stats as stats

stats.fisher_exact(contingency)

(1.3791838163150314, 9.78e-321)

In [27]:
contingency

goal_met       0       1
usd
0          58685   24611
1         187130  108235

# Challenge 2 - The `interpolate` submodule

This submodule allows us to interpolate between two points and create a continuous distribution based on the observed data.

In the cell below, import the `interp1d` function and first take a sample of 10 rows from `kickstarter`.

In [29]:
# Your code here:

import matplotlib.pyplot as plt
from scipy import interpolate

In [31]:
data.sample(n=10)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,goal_met,usd
154375,1784853329,The digital age,Photography,Photography,AUD,2014-08-09,900.0,2014-07-10 07:46:08,0.0,failed,0,AU,0.00,0.00,838.93,0,0
330095,751802129,Inspirational Australian Feature Film - The Pl...,Film & Video,Film & Video,USD,2011-06-06,15000.0,2011-04-07 05:09:16,15189.0,successful,42,US,15189.00,15189.00,15000.00,1,1
253225,357833206,Top Speed!,Television,Film & Video,GBP,2015-05-10,15000000.0,2015-03-31 19:52:28,0.0,failed,0,GB,0.00,0.00,23564157.35,0,0
332743,765114687,Rap Craze Magazine,Print,Journalism,USD,2014-08-11,50000.0,2014-07-11 21:59:19,0.0,failed,0,US,0.00,0.00,50000.00,0,1
173471,1882281438,painting and drawing,Painting,Art,USD,2013-05-22,800.0,2013-04-22 20:25:51,0.0,failed,0,US,0.00,0.00,800.00,0,1
123181,1625536067,Parent Sandwich Stand Up Comedy CD,Music,Music,AUD,2015-10-14,1000.0,2015-09-14 02:49:40,1050.0,successful,22,AU,744.59,761.97,725.69,1,0
59086,1300507153,"Salaam. Paz. Shalom. PALOMA, a play about peace.",Theater,Theater,USD,2012-06-03,1450.0,2012-04-25 02:10:47,1695.0,successful,42,US,1695.00,1695.00,1450.00,1,1
97926,1497259114,AROUND Animated Adventure Film,Animation,Film & Video,USD,2014-12-18,19000.0,2014-11-18 19:46:15,1730.0,failed,29,US,1730.00,1730.00,19000.00,0,1
29349,1149147213,YourVoice: A hub to share your ideas to invok...,Publishing,Publishing,USD,2015-06-04,10000.0,2015-05-05 16:58:34,0.0,failed,0,US,0.00,0.00,10000.00,0,1
245994,321057080,Overlays: Maps for Everyone,Software,Technology,USD,2015-02-06,40000.0,2014-12-23 23:10:44,512.0,failed,12,US,512.00,512.00,40000.00,0,1

Next, create a linear interpolation of the backers as a function of `usd_pledged_real`. Create a function `f` that generates a linear interpolation of backers as predicted by the amount of real pledged dollars.

In [15]:
# Your code here:

Now create a new variable called `x_new`. This variable will contain all integers between the minimum number of backers in our sample and the maximum number of backers. The goal here is to take the dataset that contains few obeservations due to sampling and fill all observations with a value using the interpolation function. 

Hint: one option is the `np.arange` function.

In [16]:
# Your code here:

Plot function f for all values of `x_new`. Run the code below.

In [ ]:
# Run this code:

%matplotlib inline
import matplotlib.pyplot as plt

plt.plot(x_new, f(x_new))

Next create a function that will generate a cubic interpolation function. Name the function `g`.

In [18]:
# Your code here:

In [ ]:
# Run this code:

plt.plot(x_new, g(x_new))

# Bonus Challenge - The Binomial Distribution

The binomial distribution allows us to calculate the probability of k successes in n trials for a random variable with two possible outcomes (which we typically label success and failure).  

The probability of success is typically denoted by p and the probability of failure is denoted by 1-p.

The `scipy.stats` submodule contains a `binom` function for computing the probabilites of a random variable with the binomial distribution. You may read more about the binomial distribution [here](http://b.link/binomial55)

* In the cell below, compute the probability that a dice lands on 5 exactly 3 times in 8 tries.

In [34]:
# Your code here:

from scipy.stats import binom
binom.pmf(3,8,1/6)

0.10419048163389728

* Do a simulation for the last event: do a function that simulate 8 tries and return a 1 if the result is 5 exactly 3 times and 0 if not. Now launch your simulation.

In [63]:
# Your code here:

from collections import Counter
new=[]
n = 8 
import random
for i in range(7):
        new.append(random.randint(1,6))
if new.count(5)==3:
    print(1)
else: 
    print(0)

0

In [64]:
new

[3, 6, 6, 5, 6, 3, 1]

* Launch 10 simulations and represent the result in a bar plot. Now launch 1000 simulations and represent it. What do you see?

In [2]:
# Your code here: